<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-plane me-2 rotate-45"></i>
            TravelBloom</a
        >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ baseUrl }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ baseUrl }}/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ baseUrl }}/contact">Contact Us</a>
                </li>
            </ul>
            {% if searchEnabled == true %}
            <form class="d-flex">
                <input id="search" class="form-control me-2" type="search" placeholder="Enter a destination or keyword" aria-label="Search" />
                <button id="btnSearch" class="btn btn-info" type="submit">Search</button>
                <button id="btnClear" class="btn btn-secondary ms-1" type="submit">Clear</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
