{% extends "layouts/base.html" %}

<!-- -->
{% block banner %}
<div class="row">
    <div class="overlay mt-4 col-xl-4">
        <div class="banner">{{ content | safe }}</div>
    </div>
    <div id="destinations" class="mt-4 col-xl-8">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for img in images.images %}
            <div class="col overlay">
                <img src="{{ img.src }}" alt="Angkor" class="img-fluid rounded" />
                <div class="my-2"><strong>{{ img.alt }}</strong></div>
                <div class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, velit consequuntur libero aliquam eum quae labore est nihil officia quam vel dolore modi similique quidem autem, tempore corrupti rerum. Laudantium!</div>
                <button class="rounded w-25">Visit</button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
